@media only screen and (max-width: 800px) and (min-width: 450px) {
  .hamburger {
    display: block;
    margin-right: 41px;
    cursor: pointer;
  }

  .nav-bar {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #FF6000;
    overflow: hidden;

  }

  .nav-bar.active {
    height: 450px;

  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
  }

  .nav-bar ul li a {
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
  }

  .logo img {
    margin-left: 25px;

  }

  #home {
    flex-direction: column;
    margin-top: 400px;
  }

  .heading {
    font-size: 40px;
    text-align: center;
  }

  .discription {
    text-align: center;
  }

  .touch-btn {
    margin-left: 100px;
  }

  .home-image img {
    width: 360px;
    display: block;
    margin: 55px auto;
  }

  /* About Section */
  #about-me {
    flex-direction: column;
  }

  .about-img img {
    width: 360px;
    margin: 0 17px;
  }

  .about-contant {
    position: relative;
    top: 220px;
    left: 0px;
  }

  .touch-btn-email {
    margin-left: 125px;

  }

  .interest {
    color: white;
    font-size: 25px;
    margin-left: 70px;
  }

  #about-text {
    margin-left: 10px;

  }

  .about-heading {
    font-size: 30px;
    text-align: center;
  }

  .about-text-sub {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
  }

  .experience {
    flex-direction: column;
    margin: 10%;
  }

  .experience-item {
    margin: 20px 0 30px 0;
  }

  .big-text {
    font-size: 45px;
  }

  .skill {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
  }

  .skill-box {
    margin-top: 50px;
  }

  /* Gadgets & Software Section */
  .gad-soft {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

  }
  .gad-heading {
    color: white;
    text-align: center;
    font-size: 30px;
}
.use{
  font-size: 15px;
}
.gad-box{
  margin-top: 45px;
}

}